---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

.wrap {
  position: relative;
  width: 100%;
}

html {
  font-size: 16px;
  position: relative;
  min-height: 100%;
}

body {
	background: #fff;
  font: 1.2rem/1.4 Helvetica, Arial, sans-serif;
  color: #333;
  font-weight: 300;

  @include mobile {
    font-size: 1rem;
  }
}

.container {
  margin: 0 auto;
  max-width: 1100px;
  padding: 0 2rem;
  width: 80%;

  @include mobile {
    padding: 0 1.3rem;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222;
  font-weight: bold;

  line-height: 1.7;
  margin: 1rem 0 1rem 0;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 2rem;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.2rem;
  color: #666;
}

p {
  margin: 15px 0;
}

a {
  color: #4183C4;
  text-decoration: none;
  font-weight: bold;
	cursor: pointer;
  &:hover, &:active {
    color: #4183C4;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

thead {
  border-bottom:#020202 solid 1px;
}

th, td {
  padding: 1px 8px;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

.left-image {
    float: left;
    margin: 20px
}

.right-image {
    float: right;
    margin: 20px
}

.center-image {
    display: block;
    margin: 0 auto;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: #666;
}

// Specify the color of the selection
::-moz-selection {
  color: #000;
  background: #eee;
}
::selection {
  color: #000;
  background: #eee;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  margin-bottom: 50px;
  background-color: #eee;
  border-bottom: 1px solid #333;
}

.masthead {
  padding: 20px 0;

  @include mobile {
    text-align: center;
  }
}

.site-info {
  float: right;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  color: #4183C4;
  text-decoration-line: #333 1px solid;
  cursor: pointer;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 2.1rem;
  text-transform: uppercase;
  letter-spacing: 1px;

  @include mobile {
    font-size: 1.9rem;
    font-weight: 300;
    text-align: right;
  }
}

.site-description {
  position: relative;
  margin: -5px 0 0 0;
  color: #333;
  text-align: right;
  font-size: 1.2rem;
  font-weight: lighter;

  @include mobile {
    margin: 3px 0;
  }
}


//
// .main
//

.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid #eee;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid #666;
    padding: 0.1em 1em;
    color: #666;
    font-size: 1.2rem;
    font-style: italic;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 1rem;
  }
}

.wrapper-footer {
  margin-top: 50px;
  background-color: #fff;
  width: 100%;
}

footer {
  padding: 30px 80px 10px 20px;
  text-align: center;
  font-size: 0.8rem;

  @include mobile {
    font-size: 9px;
  }
}

.logo {
  display: block;
  float: left;

  @include mobile {
    width: 100px;
  }
}

#cy {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: block;
  width: 100%;
  height: 600px;
  background-color: #eee;
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
@import "sidebar";
