<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">

  <nav class="sidebar-nav">
    <h2>
    <a class="sidebar-nav-item" href="{{ site.baseurl }}/">Schedule</a>
    <a class="sidebar-nav-item" href="{{ site.baseurl }}/information">Information</a>
    <a class="sidebar-nav-item" href="https://technologies-of-history.github.io/spring-2026">Student Work</a>
    <a class="sidebar-nav-item" href="{{ site.baseurl }}/assignments">Assignments</a>
    </h2>
    <h3>
    <a class="sidebar-sub-item" href="{{ site.baseurl }}/digitaltools1">Digital Tools 1</a>
    <a class="sidebar-sub-item" href="{{ site.baseurl }}/digitaltools2">Digital Tools 2</a>
    <a class="sidebar-sub-item" href="{{ site.baseurl }}/digitaltools3">Digital Tools 3</a>
    <a class="sidebar-sub-item" href="{{ site.baseurl }}/digitaltools4">Digital Tools 4</a>
    <a class="sidebar-sub-item" href="{{ site.baseurl }}/digitaltools5">Digital Tools 5</a>
    </h3>
  </nav>

</div>
